@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.accordion__container {
	width: 100%;
	padding: 20px 0;
}

.accordionItem__title {
	background-color: v.$yellow;
	color: v.$neutral-light;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2px 0;
	padding: 14px 22px;

	&:hover {
		filter: brightness(105%);
	}

	&.active {
		background-color: v.$red;
	}

	i {
		margin-left: 6px;
		@include m.flex-center;

		&:hover {
			cursor: pointer;
		}
	}
}

.accordionItem__content {
	display: none;
	color: v.$gray-light;
	padding: 10px 14px;
	text-align: justify;

	&.active {
		display: flex;
	}

	@include m.sm {
		padding: 14px 18px;
	}

	@include m.md {
		padding: 18px 22px;
	}
}
