@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.form__container {
	width: 100%;
	padding: 18px 0;
	@include m.flex-center;
	flex-direction: column;
	color: v.$neutral-light;
	background: linear-gradient(
			0deg,
			rgba(245, 92, 101, 0.9),
			rgba(245, 92, 101, 0.9)
		),
		url("../../assets/footer/form.jpg");
	background-size: cover;
	background-position: center;

	form {
		width: 100%;
		@include m.flex-center;
		flex-direction: column;
	}

	fieldset {
		width: 100%;
		@include m.flex-center;
		flex-direction: column;
		border: none;
	}

	@include m.xs {
		padding: 20px;
	}

	@include m.sm {
		fieldset {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	@include m.md {
		padding: 20px 40px;
	}
}

.form__wrapper {
	width: 100%;
	@include m.flex-center;
	flex-direction: column;
	margin: 0 16px;

	input {
		width: 100%;
		padding: 8px 10px;
		color: v.$neutral-light;
		border: solid rgba(255, 255, 255, 0.4) 2px;
		background: transparent;

		&:nth-child(2) {
			margin: 10px 0;
		}
	}

	textarea {
		height: 100%;
		width: 100%;
		padding: 8px 10px;
		color: v.$neutral-light;
		border: solid rgba(255, 255, 255, 0.4) 2px;
		background: transparent;
		margin-top: 10px;
	}

	input,
	textarea {
		&:focus {
			outline: none;
			background-color: rgba(255, 255, 255, 0.15);
		}

		&::placeholder {
			color: v.$neutral-light;
		}
	}

	@include m.sm {
		height: 100%;
		padding: 20px 10px;
		justify-content: space-between;
		margin: 20px 0px;

		input {
			&:nth-child(2) {
				margin: 0;
			}
		}

		textarea {
			margin-top: 0;
		}
	}
}

.form__button {
	background-color: rgba(255, 255, 255, 0.8);
	color: v.$gray-dark;
	border: none;
	margin-top: 12px;

	@include m.sm {
		margin-top: 0;
	}
}
