@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.quote__container {
	@include m.flex-center;
}

.quote__content {
	max-width: 85%;
	margin: 20px 0;
	@include m.flex-center;
	flex-direction: column;
	text-align: center;

	i {
		color: v.$red;
		margin: 8px 0;
	}

	h3 {
		font-style: italic;
	}

	p {
		color: v.$gray-light;
	}

	@include m.xs {
		max-width: 60%;
	}

	@include m.sm {
		max-width: 40%;
		margin: 40px 0;
	}

	@include m.lg {
		max-width: 30%;
	}
}
