@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.quote__container {
	@include m.flex-center;
}

.quote__content {
	max-width: 40%;
	margin: 40px 0;
	@include m.flex-center;
	flex-direction: column;
	text-align: center;

	i {
		color: v.$red;
		margin: 8px 0;
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.8em;
		font-style: italic;
	}

	p {
		color: v.$gray-light;
	}
}
