@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.hero__container {
	background-color: v.$purple;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(158, 113, 184, 1) 45%,
		rgba(89, 72, 116, 1) 100%
	);
	@include m.flex-center;
}

.hero__wrapper {
	@include m.flex-center;
	flex-direction: column;
	padding-top: 20px;

	@include m.sm {
		padding-top: 0;
		width: 70%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}

.hero__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		color: v.$neutral-light;
		line-height: 0.8em;
		margin-bottom: 0.4em;
	}

	h4 {
		color: v.$red;
		font-weight: 400;
	}

	@include m.xs {
		h1 {
			font-size: 2.6em;
		}
		h4 {
			font-size: 1.4em;
		}
	}

	@include m.sm {
		grid-column: span 2;
		align-items: flex-start;
		margin-bottom: 20px;

		h1 {
			font-size: 3.4em;
		}
	}

	@include m.md {
		h1 {
			font-size: 4.2em;
		}
		h4 {
			font-size: 1.8em;
		}
	}

	@include m.lg {
		h1 {
			font-size: 5em;
		}
		h4 {
			font-size: 2em;
		}
	}
}

.hero__image {
	max-width: 80%;

	@include m.xs {
		max-width: 60%;
	}

	@include m.sm {
		max-width: 100%;
		grid-column: span 3;
	}
}
