@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.navbar__container {
	border-top: solid 8px;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, v.$red, v.$orange, v.$yellow);

	i {
		color: v.$red;
		@include m.flex-center;
	}

	@include m.sm {
		@include m.flex-center;
	}
}

.navbar__wrapper {
	@include m.sm {
		min-width: 70%;
		display: flex;
		flex-direction: column;
	}
}

.navbar__header {
	@include m.sm {
		display: flex;
		justify-content: flex-end;
		margin-top: 0.4em;
	}
}

.navbar__headerItem {
	display: none;

	@include m.sm {
		@include m.flex-center;

		p {
			margin-left: 0.6em;
			color: v.$gray-light;
		}

		margin-left: 2em;
		font-size: 0.8em;
	}
}

.navbar__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	max-height: 40px;

	@include m.sm {
		max-height: 80px;
	}
}

.navbar__logo {
	@include m.flex-center;
	img {
		max-height: 30px;
		margin-right: 16px;
	}

	@include m.sm {
		img {
			max-height: 40px;
			margin-right: 8px;
		}
	}

	@include m.md {
		img {
			margin-right: 16px;
		}
	}
}

.navbar__items {
	display: none;
	@include m.sm {
		@include m.flex-center;

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
		}

		li {
			margin-left: 16px;
		}

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			color: v.$gray-dark;
			transition: v.$default-transition;

			&:hover {
				color: v.$gray-light;
			}
		}
	}

	@include m.md {
		li {
			margin-left: 30px;
		}
	}
}

.navbar__button {
	cursor: pointer;

	@include m.sm {
		display: none;
	}
}

#search__button {
	transition: v.$default-transition;

	&:hover {
		cursor: pointer;
		transform: scale(1.3);
	}
}
