@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.services__container {
	@include m.flex-center;
}

.services__wrapper {
	margin-top: -30px;
	max-width: 85%;

	@include m.xs {
		max-width: 75%;
	}

	@include m.sm {
		max-width: 70%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	@include m.md {
		margin-top: -50px;
	}
}

.services__item {
	background-size: cover;
	background-position: center;

	@include m.sm {
		grid-column: span 1;
	}
}

.services__itemContent {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 16px;
	text-align: center;

	h4 {
		color: v.$gray-dark;
	}

	h2,
	p {
		color: v.$neutral-light;
		margin-bottom: 4px;
	}

	button {
		margin-top: 4px;
	}

	@include m.xs {
		padding: 24px 30px;
	}

	@include m.sm {
		padding: 2.4em 3em;

		h2,
		p {
			margin-bottom: 1em;
		}

		button {
			margin-top: 1em;
		}
	}
}
