$neutral-light: #ffffff;
$neutral-dark: #000000;
$gray-light: #a1a1a1;
$gray-dark: #4e4e4e;
$red: #f55c65;
$orange: #fa714b;
$yellow: #faae43;
$purple: #9e71b8;

$font-primary: "Roboto";
//$font-secondary: '';
$font-backup: "sans-serif";

$default-transition: all 0.3s ease-in-out;
